{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">
                Unleash Your Creativity: Tattoo Showoff Event Coming Soon!
            </h2>
            <h3 class="post-subtitle">
                Flaunt Your Ink Masterpieces to the World!
            </h3>
        </a>
        <p class="post-meta">Posted by
            <a href="#">Tattoo Paradise</a>
            on August 15, 2023</p>
    </div>
    <hr>
    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">
                Limited Time Offer: 25% Off on All Tattoo Services!
            </h2>
        </a>
        <p class="post-meta">Posted by
            <a href="#">Tattoo Emporium</a>
            on August 10, 2023</p>
    </div>
    <hr>
    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">
                Experience the Mystique: Midnight Tattoo Extravaganza
            </h2>
            <h3 class="post-subtitle">
                Join Us for a Night of Ink, Art, and Unforgettable Memories!
            </h3>
        </a>
        <p class="post-meta">Posted by
            <a href="#">InkWorx Studios</a>
            on July 28, 2023</p>
    </div>
    <hr>
    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">
                Embrace Your True Self: Tattoo Transformation Workshop
            </h2>
            <h3 class="post-subtitle">
                Discover the Power of Tattoos in Expressing Your Identity.
            </h3>
        </a>
        <p class="post-meta">Posted by
            <a href="#">Soul Ink</a>
            on July 5, 2023</p>
    </div>
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
{% endblock %}
